.cart-container {
    border-top: 1px solid #E5E7EB;
    padding-top: 3.5rem;
}

.cart-title {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.cart-item {
    padding: 1rem 0;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    color: #4A5568; /* Tailwind color gray-700 */
    display: grid;
    grid-template-columns: 4fr 0.5fr 0.5fr;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 640px) {
    .cart-item {
        grid-template-columns: 4fr 2fr 0.5fr;
    }
}

.item-details {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.item-image {
    width: 4rem;
}

@media (min-width: 640px) {
    .item-image {
        width: 5rem;
    }
}

.item-name {
    font-size: 0.75rem;
    font-weight: 500;
}

@media (min-width: 640px) {
    .item-name {
        font-size: 1.125rem;
    }
}

.item-meta {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 0.5rem;
}

.item-size {
    padding: 0.5rem 0.75rem;
    border: 1px solid #E5E7EB;
    background-color: #F1F5F9; 
}

.item-quantity {
    border: 1px solid #E5E7EB;
    background-color: #F1F5F9;
    max-width: 2.5rem;
    padding: 0.25rem 0.5rem;
}

@media (min-width: 640px) {
    .item-quantity {
        max-width: 5rem;
        padding: 0.5rem 1rem;
    }
}

.item-remove {
    width: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}

@media (min-width: 640px) {
    .item-remove {
        width: 1.25rem;
    }
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    
}

.checkout {
    width: 100%;
    text-align: end;
}

@media (min-width: 640px) {
    .checkout {
        width: 28.125rem;
    }
}

.checkout-button {

    color: black; /* Default text color */
    font-size: 0.875rem; /* Font size */
    padding: 0.75rem 2rem; /* Padding */
    border: 1px solid black !important; /* Remove border */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.checkout-button:hover {
    background-color: rgb(55, 65, 81); /* Change to a lighter color on hover */
    color: #FFFFFF; /* Keep text color white on hover */
}