/* Place Order Form */
.place-order-form {
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    gap: 2rem;
    padding-top: 1rem;
    min-height: 80vh;
    border-top: 1px solid #e0e0e0;
}

/* Left Section (Delivery Information Form) */
.form-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1; /* Takes up the remaining space */
    max-width: 600px;
}

/* Right Section (Cart Totals + Payment) */
.form-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
    width: 100%;
}

/* Input Groups */
.input-group {
    display: flex;
    gap: 1rem;
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    background-color: #fafafa !important;
    
}
.input:focus { 
    border-color: #010911; /* Change border color on focus */ 
    background-color: #e0f7fa;
}
.input:valid { 
    border-color: #010f04; /* Change border color when input is valid */
    background-color: #045e19;
}

/* Cart Total Container */
.cart-total-container {
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 6px;
    background-color: #fafafa !important;
}

/* Payment Section */
.payment-section {
    margin-top: 1.5rem;
}

.payment-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ddd;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-option:hover {
    background-color: #f7f7f7;
}

.payment-option.selected {
    border-color: #323a32;
    background-color: #bdbebd;
}

.payment-option .circle {
    width: 1rem;
    height: 1rem;
    border: 2px solid #aaa;
    border-radius: 50%;
}

.payment-option.selected .circle {
    background-color: rgb(55, 65, 81);
    border-color: #3b3d3b;
}

/* Submit Button */
.submit-button {
    text-align: center;
    margin-top: 1.5rem;
}

.submit-button button {
    /* background-color: #000; */
    color: black;
    padding: 0.75rem 2rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.submit-button button:hover {
    background-color: rgb(55, 65, 81);
    color: white;
}

/* Title Styling */
.title-container {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
